
\.bibles/mods\.d\.tar\.gz


*.conf

\.bibles/mods\.d/DEADJOE

\.bibles/mods\.d/augustine\.conf-ru

\.bibles/mods\.d/chrysostom\.conf-ru

\.bibles/mods\.d/tsk\.conf-tkr-cyrl

__pycache__/pysword_repo\.cpython-37\.pyc

\.bibles/modules/texts/ztext/kjv/KJV\.zip

\.bibles/modules/comments/rawcom/chrysostom/ot\.vss

\.bibles/mods\.d/tsk\.conf-tkr_cyrl

\.bibles/modules/comments/rawcom/chrysostom/nt

\.bibles/modules/comments/rawcom/chrysostom/nt\.vss

\.bibles/modules/comments/rawcom/chrysostom/ot

\.bibles/\.ftptimestamps

\.bibles/\.heathenrepo

\.bibles/mods\.d/\.python_helpful_confs

\.bibles/mods\.d/\.python_helpful_confs\.installed

\.bibles/mods\.d/\.python_helpful_confs\.outdated

pysword_repo

firejail/gajim\.profile

firejail/openbox-clearnet\.profile

\.bibles/\.heathen

\.bibles/\.heathennotes

\.bibles/modules/texts/ztext/asv/ASV\.zip

\.bibles/modules/texts/ztext/KJV\.zip

\.bibles/modules/texts/ztext/netfree/nt\.bzs

\.bibles/modules/texts/ztext/netfree/nt\.bzv

\.bibles/modules/texts/ztext/netfree/nt\.bzz

\.bibles/modules/texts/ztext/netfree/ot\.bzs

\.bibles/modules/texts/ztext/netfree/ot\.bzv

\.bibles/modules/texts/ztext/netfree/ot\.bzz

\.bibles/

heathentest1\.sh

heathen2\.sh

\.heathen
